deps/*
objs/*
objs_dis/*
asmouts/*
preprocs/*
deps_debug/*
objs_debug/*
objs_dis_debug/*
asmouts_debug/*
preprocs_debug/*
cake++_compiler/deps/*
cake++_compiler/objs/*
cake++_compiler/objs_dis/*
cake++_compiler/asmouts/*
cake++_compiler/preprocs/*
cake++_compiler/deps_debug/*
cake++_compiler/objs_debug/*
cake++_compiler/objs_dis_debug/*
cake++_compiler/asmouts_debug/*
cake++_compiler/preprocs_debug/*
cake++_compiler/tests/*.json
cake++_vm/deps/*
cake++_vm/objs/*
cake++_vm/objs_dis/*
cake++_vm/asmouts/*
cake++_vm/preprocs/*
cake++_vm/deps_debug/*
cake++_vm/objs_debug/*
cake++_vm/objs_dis_debug/*
cake++_vm/asmouts_debug/*
cake++_vm/preprocs_debug/*
cake++_vm_assembler/deps/*
cake++_vm_assembler/objs/*
cake++_vm_assembler/objs_dis/*
cake++_vm_assembler/asmouts/*
cake++_vm_assembler/preprocs/*
cake++_vm_assembler/deps_debug/*
cake++_vm_assembler/objs_debug/*
cake++_vm_assembler/objs_dis_debug/*
cake++_vm_assembler/asmouts_debug/*
cake++_vm_assembler/preprocs_debug/*
liborangepower
liborangepower_debug
testing/deps/*
testing/objs/*
testing/objs_dis/*
testing/asmouts/*
testing/preprocs/*
testing/deps_debug/*
testing/objs_debug/*
testing/objs_dis_debug/*
testing/asmouts_debug/*
testing/preprocs_debug/*
testing/testing
testing/testing_debug
small_code_testing_things/*
*.elf
*.gba
disassembly_all_2.armasm
symbols.txt
linker_map.txt
copyright_text_thing.txt
disassembly*.armasm
*.sav*
*.ss*
*.gdb_history*
*.sw[po]
*/tags
*/types_*.taghl
cake++_compiler/src/tags
cake++_compiler/src/types_*.taghl
cake++_vm/src/tags
cake++_vm/src/types_*.taghl
cake++_vm_assembler/src/tags
cake++_vm_assembler/src/types_*.taghl
*.txt.ignore
cake++_compiler/cake++_compiler
cake++_compiler/cake++_compiler_debug
cake++_vm/cake++_vm
cake++_vm/cake++_vm_debug
cake++_vm_assembler/cake++_vm_assembler
cake++_vm_assembler/cake++_vm_assembler_debug
*.elf
cake++_compiler/src/gen_src/*
cake++_vm/src/gen_src/*
cake++_vm_assembler/src/gen_src/*
*.json.ignore
cake++_compiler/tests/*.json
cake++_compiler/tests/*.json.ignore
cake++_compiler/*.json
cake++_compiler/*.json.ignore
*.pdf
cake++_vm/input.bin
cake++_vm/almost_assembler/input.bin
*.pyc
cake++_vm/almost_assembler/tags
cake++_vm/almost_assembler/types*.taghl
